<h1>Display your Pirate here</h1>
<h3>Name: <%= @pirate.name %></h3>
<h4>Weight: <%= @pirate.weight %></h4>
<h4>Height: <%= @pirate.height %></h4>
 
<h1>Ships</h1>
<% @courses.each do |course| %>
  <div class="course">
    <p>Name: <%= course.name %></p><br>
    <p>Topic: <%= course.topic %></p><br>
  </div><br>
<% end %>

<h2>Display your first ship here</h2>
<p>
  First Ship Name: <%= @ships[0].name %>
  Type: <%= @ships[0].type %>
  Booty: <%= @ships[0].booty %>
</p>

<h2>Display your second ship here</h2>
<p>
  Second Ship Name: <%= @ships[1].name %>
  Type: <%= @ships[1].type %>
  Booty: <%= @ships[1].booty %>
</p>